@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: 'Dancing Script', cursive;
  src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: lightgoldenrodyellow;
}

a {
  color: lightgoldenrodyellow;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
}

button {
  margin-top: 2em;
  height: 5em;
  width: 25em;
  background-color: transparent;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 50%;
  color: lightgoldenrodyellow;
}

a:hover,
button:hover {
  background-color: #555;
}

header {
  background-color: black;
  border-bottom: 3px solid lightgoldenrodyellow;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
}

.first-page {
  background: url(https://pixabay.com/get/55e5dc444c55ab14f6d1867dda293e7d163ed7e3514c704f75297cd19444cd50_1920.jpg)  no-repeat center center fixed;
  background-size: 100%;
  width: 100%;
  height: 95%;
  padding: 0;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.main-text {
  padding-top: 25%;
  font-size: 2em;
}

h1 {
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  color: black;
  margin-top: 6%;
}

.show-more {
  top: 67%;
  margin-top: 2em;
  height: 4em;
  width: 18em;
  background-color: transparent;
  border: 3px solid lightgoldenrodyellow;
  border-radius: 50%;
  color: lightgoldenrodyellow;
  position: absolute;
  left: 25%;
}

.item {
  position: relative;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 3px solid rgb(250, 250, 210);
  border-radius: 5%;
}

.item1 {
  background-image: url(./images/pizza.jpg);
}

.item2 {
  background-image: url(./images/meat.jpg);
}

.item3 {
  background-image: url(./images/sushi.jpg);
}

.item4 {
  background-image: url(./images/wine.jpg);
}

.item5 {
  background-image: url(./images/desert.jpg);
}

.item6 {
  background-image: url(./images/icon.jpg);
}

.contact-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.6rem;
  padding-top: 15%;
  background: linear-gradient(to right top, #7e7e7b, #33322a, #302f22, #747470);
}

.contact-us,
.contact-info {
  padding: 0.6rem 0;
  font-size: 1.5em;
}

.contact-us {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .first-page {
    background-size: 140%;
  }

  .main-text {
    padding-top: 35%;
  }

  .menu-items {
    grid-template-columns: 1fr;
    margin-top: 10%;
  }

  .show-more {
    left: 32%;
  }
}
